<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/header::header">
</th:block>
<body id="page-top" class="font-notosans width-400">
  <div class="stadium-title mb-3">
    <a th:href="@{main}">
      <img class="img-fluid title-emblem m-auto" src="../assets/img/baseball.ico">
    </a>
    <div class="title-team m-auto">
      <h1><a class="title-team-white" th:href="@{main}">BASEBALL GO</a></h1>
    </div>
  </div>
  <div style="display: flex">
    <div class="font-notosans" style="margin: auto">
      <h2 class="mt-5" style="text-align: center">회원가입</h2>
      <form th:action="@{/signup}" th:method="post" class="mt-5" onsubmit="return validForm()">
        <div class="form-group mb-3" style="width: 300px">
          <label>이메일 주소</label>
          <div>
            <input type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="이메일을 입력해주세요."
             style="width: 75%; display: inline-block;" oninput = "checkEmail()">
<!--             style="width: 75%; display: inline-block;">-->
            <button type="button" class="btn btn-outline-info"
             style="width: 23%; display: inline-block; margin: 0px; font-size: small; padding: 2px 5px">중복확인</button>
          </div>
          <small id="emailHelp" class="form-text text-muted" style="display: block">작성한 EMAIL은 ID로 사용됩니다.</small>
          <small class="checkId_1" style="color: #0f0f71; display: none">사용 가능한 이메일입니다.</small>
          <small class="checkId_2" style="color: red; display: none">이미 사용 중인 이메일입니다.</small>
        </div>
        <div class="form-group mb-3">
          <label>닉네임</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="닉네임을 입력해주세요.">
        </div>
        <div class="form-group mb-3">
          <label>비밀번호</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호">
          <small id="alert-danger"  style="color: red;">※ 비밀번호가 일치하지 않습니다.</small>
          <small id="alert-success" style="color: #0f0f71;">※ 비밀번호가 일치합니다.</small>
        </div>
        <div class="form-group mb-5">
          <label>비밀번호 확인</label>
          <input type="password" class="form-control" id="password2" placeholder="비밀번호 확인">
        </div>
        <button type="submit" class="btn btn-warning signup">가입하기</button>
      </form>
    </div>
  </div>
</body>
<script type="text/javascript">
  function checkEmail() {
  // $(function(){
  //   $(".checkId_1").hide();
  //   $(".checkId_2").hide();
    var email = $('#email').val();
    $.ajax({
      url: '/checkEmail',
      type: 'post',
      data: {email: email},
      success: function (result) {
        if(result == 0) {
          $('.checkId_1').show();
          $('.checkId_2').hide();
        } else {
          $('.checkId_1').hide();
          $('.checkId_2').show();
          $('#email').val('');
        }
      },
      error: function () {
        alert("오류가 발생했습니다.")
      }
    })
  }


  $(function(){
    $("#alert-success").hide();
    $("#alert-danger").hide();
    $("input").keyup(function(){
      var pwd1=$("#password").val();
      var pwd2=$("#password2").val();
      if(pwd1 != "" || pwd2 != ""){
        if(pwd1 == pwd2){
          $("#alert-success").show();
          $("#alert-danger").hide();
          $("#submit").removeAttr("disabled");
        }else{
          $("#alert-success").hide();
          $("#alert-danger").show();
          $("#submit").attr("disabled", "disabled");
        }
      }
    });
  });

  function validForm() {
    var emailV  = document.getElementById('email').value;
    var nameV   = document.getElementById('name').value;
    var pwdV    = document.getElementById('password').value;
    var pwd2V   = document.getElementById('password2').value;

    var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
    if (regEmail.test(emailV) === false) {
      alert('올바른 이메일 형식이 아닙니다.');
      $('#email').focus();
      return false;
    }
    if (nameV == '' || nameV == null) {
      alert('닉네임을 입력해주세요.');
      $('#name').focus();
      return false;
    }
    if (pwdV == '' || pwdV == null) {
      alert('비밀번호를 입력해주세요.');
      $('#password').focus();
      return false;
    }
    if (pwd2V == '' || pwd2V == null) {
      alert('비밀번호 확인을 입력해주세요.');
      $('#password2').focus();
      return false;
    }
  }

  $(document).ready(function (e) {
    $(".signup").on("click", function (e) {
      if (!confirm("가입하시겠습니까?")) {
        return false;
      }
      $("form").submit();
    });
  });


</script>
</html>