<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/header::header">
</th:block>
<body id="page-top" class="font-notosans">
<div class="stadium-title mb-3 tigers-title">
    <a th:href="@{tigers}"><img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/tigers.png"></a>
    <div class="title-team m-auto">
        <h1 class="cursor-default"><a class="title-team-kia" th:href="@{tigers}">KIA타이거즈</a></h1>
    </div>
</div>
<div class="container stadium-content p-3">
    <h2 class="tigers-title-sub font-dohyeon mb-5" >기아 챔피언스 필드 좌석 안내</h2>
    <a href="https://tigers.co.kr/tigers/champions-field/stadium-guide" target="_blank" class="mb-5 tigers-title-sub"><i class="fa-solid fa-circle-info ms-sm-2"></i>구장안내</a>

    <form action="tigers" method="get" id="searchForm">
        <div class="input-group mb-4">
            <input type="hidden" name="page" value="1">
            <select class="form-control base-drop small float-start" name="type">
                <option value="123" th:selected="${pageRequestDTO.type == '123'}">전체</option>
                <option value="1"   th:selected="${pageRequestDTO.type == '1'}">1루</option>
                <option value="2"   th:selected="${pageRequestDTO.type == '2'}">중앙</option>
                <option value="3"   th:selected="${pageRequestDTO.type == '3'}">3루</option>
            </select>
            <select class="form-control section-drop small" name="keyword">
                <option value=""                         th:selected="${pageRequestDTO.keyword == null}">구역 선택</option>
                <option value="K9석"                     th:selected="${pageRequestDTO.keyword == 'K9석'}">K9석</option>
                <option value="K8석"                     th:selected="${pageRequestDTO.keyword == 'K8석'}">K8석</option>
                <option value="K5석"                     th:selected="${pageRequestDTO.keyword == 'K5석'}">K5석</option>
                <option value="K3석"                     th:selected="${pageRequestDTO.keyword == 'K3석'}">K3석</option>
                <option value="외야석"                   th:selected="${pageRequestDTO.keyword == '외야석'}">외야석</option>
                <option value="스카이박스"               th:selected="${pageRequestDTO.keyword == '스카이박스'}">스카이박스</option>
                <option value="챔피언석"                 th:selected="${pageRequestDTO.keyword == '챔피언석'}">챔피언석</option>
                <option value="높을고창석"               th:selected="${pageRequestDTO.keyword == '높을고창석'}">높을고창석</option>
                <option value="타이거즈 가족석"          th:selected="${pageRequestDTO.keyword == '타이거즈 가족석'}">타이거즈 가족석</option>
                <option value="높을고창 파티석"          th:selected="${pageRequestDTO.keyword == '높을고창 파티석'}">높을고창 파티석</option>
                <option value="스카이피크닉석"           th:selected="${pageRequestDTO.keyword == '스카이피크닉석'}">스카이피크닉석</option>
                <option value="에코다이나믹스 가족석"    th:selected="${pageRequestDTO.keyword == '에코다이나믹스 가족석'}">에코다이나믹스 가족석</option>
                <option value="서프라이즈석"             th:selected="${pageRequestDTO.keyword == '서프라이즈석'}">서프라이즈석</option>
                <option value="휠체어석"                 th:selected="${pageRequestDTO.keyword == '휠체어석'}">휠체어석</option>
            </select>
            <button class="btn btn-outline-secondary btn-search" type="button">검색</button>
        </div>
    </form>

    <a class="float-start font-black cursor-default small">전체 [[${result.totalElements}]] 개</a>
    <a class="writer float-end font-black cursor-pointer" th:href="@{tigers/register}"><button class="btn btn-light btn-sm"><i class="fa-solid fa-pen-to-square font-black"></i>글쓰기</button></a>

    <table class="table mt-5 mb-5">
        <thead>
        <tr>
            <th>#</th>
            <th>1/3루</th>
            <th>구역</th>
            <th>좌석</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="readTable" th:each="dto : ${result.dtoList}" th:if="${result.totalElements}">
            <th scope="row">
                <a>[[${dto.sno}]]</a>
            </th>
            <td th:if="${dto.base} == '1'" th:text="1루"></td>
            <td th:if="${dto.base} == '2'" th:text="중앙"></td>
            <td th:if="${dto.base} == '3'" th:text="3루"></td>
            <td>
                <a class="list-text" th:href="@{/tigers/read(sno = ${dto.sno}, page= ${result.page})}">[[${dto.section}]]</a>
            </td>
            <td>[[${dto.row}]]열 [[${dto.num}]]번</td>
            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
        </tr>
        <tr th:unless="${result.totalElements}" class="text-center">
            <td colspan="5">검색 결과가 없습니다.</a></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/tigers(page = ${result.start- 1})}" tabindex="-1">이전</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/tigers(page=    ${page},
                                                             type=    ${pageRequestDTO.type},
                                                             keyword= ${pageRequestDTO.keyword})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/tigers(page=   ${result.end +1},
                                                             type=   ${pageRequestDTO.type},
                                                             keyword=#{pageRequestDTO.keyword})}">다음</a>
            </li>
        </ul>
    </nav>
</div>
</body>
<script th:inline="javascript">
    var msg = [[${msg}]];

    var searchForm = $("#searchForm");
    $('.btn-search').click(function (e){
        searchForm.submit();
    })
</script>
</html>
