<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header::header">
</th:block>
<body id="page-top">
    <div class="stadium-title mb-3">

        <img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/ssg_baseballclub_landers_emblem.png">
        <div class="title-team m-auto">
            <h1>SSG 랜더스 필드 좌석 안내</h1>
        </div>
    </div>
    <div class="stadium-content p-3">
<!--        <div >-->
            <a class="writer"><i class="fa-solid fa-pen-to-square"></i>글쓰기</a>
        <i class="bi bi-pencil"></i>
<!--        </div>-->
        <table class="table">
            <thead> 
            <tr>
                <th>#</th>
                <th>구장</th>
                <th>구역</th>
                <th>좌석</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>문학</td>
                <td>노브랜드 테이블</td>
                <td>C열 12, 13</td>
            </tr>
            <tr>
                <td>2</td>
                <td>문학</td>
                <td>노브랜드 테이블</td>
                <td>C열 12, 13</td>
            </tr>
            <tr>
                <td>3</td>
                <td>문학</td>
                <td>노브랜드 테이블</td>
                <td>C열 12, 13</td>
            </tr>
            <tr>
                <td>4</td>
                <td>문학</td>
                <td>노브랜드 테이블</td>
                <td>C열 12, 13</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
