<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/header::header">
</th:block>
<th:block>
  <th:block>
    <body id="page-top">
    <div class="stadium-title mb-3 dinos-title">
      <a th:href="@{/dinos}"><img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/dinos.png"></a>
      <div class="title-team m-auto">
        <h1 class="cursor-default"><a class="title-team-white" th:href="@{dinos}">NC DINOS</a></h1>
      </div>
    </div>
    <div class="container stadium-content p-3">
      <h2 class="dinos-title-sub font-dohyeon mb-4">좌석 정보 수정하기</h2>
      <p class="small" style="color: darkred">※ 정확한 좌석을 모르는 경우에는 0열 0번으로 입력해주세요.</p>
      <form th:action="@{/dinos/modify}" th:method="post" name="fm" onsubmit="return validation_input(this)">
        <div class="form-group font-notosans">
          <input  type="text" class="form-control" name="sno" th:value="${dto.sno}" hidden>
          <select name="section" class="form-control section-drop-read small" disabled>
            <option th:value="${dto.section}">[[${dto.section}]]</option>
          </select>
          <a style="float: left; padding: 0.375rem 0rem; margin-right: 20px">구역</a>
          <select name="base" class="form-control base-drop-read small" style="margin-right: 10px;" disabled>
            <option th:if="${dto.base} == '1'" th:value="${dto.base}">[[${dto.base}]]루</option>
            <option th:if="${dto.base} == '2'" th:value="${dto.base}">중앙</option>
            <option th:if="${dto.base} == '3'" th:value="${dto.base}">[[${dto.base}]]루</option>
          </select>

          <input type="text" class="form-control mb-2 section-text" name="row" id="row" placeholder="A"
                 style="text-transform: uppercase" maxlength="1" oninput="validation_row(this)" th:value="${dto.row}" required>
          <a style="float: left; padding: 0.375rem 0rem; margin-right: 10px">열</a>
          <input type="text" class="form-control mb-2 section-text" name="num" id="num" placeholder="0" required
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="2" th:value="${dto.num}">
          <a style="float: left; padding: 0.375rem 0rem;">번</a>
          <textarea class="form-control textarea-content" name="content" id="content" th:value="${dto.content}" placeholder="내용을 입력해주세요.">[[${dto.content}]]</textarea>
        </div>

        <div class="form-group fileForm"></br>
          <label class="small image-title">이미지 첨부하기</label>
          <div class="custom-file small">
            <input type="file" class="custom-file-input files" id="fileInput" accept="image/*" multiple>
            <label class="custom-file-label" data-browse="Browse"></label>
          </div>
        </div>
        <div class="box" id="imageBox">
        </div>

        <div class="uploadResult">
          <ul>
            <li th:each="stadiumImage : ${dto.imageDTOList}" th:data-file="${stadiumImage.getThumbnailURL()}"
                th:data-name="${stadiumImage.imgName}" th:data-path="${stadiumImage.path}" th:data-uuid="${stadiumImage.uuid}" class="imageInfo">
              <button type="button" class="btn-warning btn-sm removeImage" th:data-file="${stadiumImage.getImageURL()}" th:data-ino="${stadiumImage.ino}">X</button><br>
              <img th:if="${stadiumImage.path != null}"
                   th:src="|/display?fileName=${stadiumImage.getThumbnailURL()}|">
            </li>
          </ul>
        </div>

        <div class="mt-4" style="text-align: center">
          <button type="button" class="btn btn-dark register-btn modifyBtn">수정</button>
          <a href="javascript:history.back();"><button type="button" class="btn btn-outline-dark register-btn">취소</button></a>
        </div>
      </form>

    </div>
    <script th:inline="javascript">
      function validation_row(e) {
        e.value = e.value.replace(/[^A-Za-z]/ig, '')
      }

      function validation_input () {
        // 필수값 확인
        var rowV      = document.getElementById("row").value;
        var numV      = document.getElementById("num").value;
        var contentV  = document.getElementById("content").value;

        // 이미지 첨부 여부 체크
        const target = $("#imageBox")
        const inputArr = target.find("input")
        const inputCnt = inputArr.length;

        if (rowV == '') {
          alert("좌석(열)을 입력해주세요.");
          $('#row').focus();
          return false;
        }
        if (numV == '') {
          alert("좌석(번)을 입력해주세요.");
          $('#num').focus();
          return false;
        }
        if (contentV == '') {
          alert("내용을 입력해주세요.");
          $('#content').focus();
          return false;
        }
        if (inputCnt < 3) {
          alert("이미지를 첨부해주세요.");
          $('#fileInput').focus();
          return false;
        }
      }

      // 파일 등록
      $(document).ready(function (e) {
        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        var maxSize = 10485760;  // 10MB

        function checkExtension(fileName, fileSize) {
          if (fileSize >= maxSize) {
            alert("파일 사이즈 초과");
            return false;
          }

          if (regex.test(fileName)) {
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false
          }
          return true;
        }

        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-input").addClass("selected").html(fileName);

          var formData = new FormData();
          var inputFile = $(this);
          var files = inputFile[0].files;
          var appended = false;

          for (var i=0; i<files.length; i++){
            if (!checkExtension(files[i].name, files[i].size)) {
              return false;
            }
            formData.append("uploadFiles", files[i]);
            appended = true;
          }

          // upload를 하지 않는다.
          if (!appended) {
            return;
          }

          for (var value of formData.values()) {
          }

          // 실제 업로드 부분
          // upload ajax
          $.ajax({
            url: '/uploadAjax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
              showResult(result);
            },
            error: function (jqXHR, textStatus, errorThrown){
            }
          }); // $.ajax
        })    // end change event

        function showResult(uploadResultArr) {
          var uploadUL = $(".uploadResult ul");
          var str = "";

          $(uploadResultArr).each(function (i, obj) {
            str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
            str +=  "<div>";
            str += "<button type='button' data-file=\'" + obj.imageURL + "\'"
            str += "class='btn-warning btn-sm'>X</button><br>";
            str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
            str += "</div>";
            str +=  "</li>";
          });
          uploadUL.append(str);
        }

        $(".uploadResult").on("click", "li button", function (e) {
          var targetLi = $(this).closest("li");

          if (confirm("첨부 이미지를 제거하시겠습니까?")) {
            targetLi.remove();
          }
        });

        $("input[type='file']").change(function (e) {
          var formData = new FormData();
        })

        $(".btn-dark").on("click", function (e) {
          e.preventDefault();

          var str = "";

          $(".uploadResult li").each(function (i, obj) {
            var target = $(obj);
            str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='" + target.data('name') + "'>";
            str += "<input type='hidden' name='imageDTOList["+i+"].path' value='" + target.data('path') + "'>";
            str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='" + target.data('uuid') + "'>";
          });

          if (!confirm("수정하시겠습니까?")) {
            return false;
          }

          // 태그들이 추가된 것을 확인한 후에 comment를 제거한다.
          $(".box").html(str);
          $("form").submit();
        })
      });
    </script>
    </body>
  </th:block>
</th:block>
</html>