<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/header::header">
</th:block>
<body id="page-top">
    <div class="stadium-title mb-3 landers-title">
        <img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/landers.png">
        <div class="title-team m-auto">
            <h1 class="cursor-default">SSG LANDERS</h1>
        </div>
    </div>
    <div class="container stadium-content p-3">
        <h2 class="landers-title-sub font-dohyeon mb-5">SSG랜더스필드 좌석</h2>
        <a href="http://www.ssglanders.com/game/ticket" target="_blank" class="mb-5 landers-title-sub"><i class="fa-solid fa-circle-info ms-sm-2"></i>구장안내</a>
        <div class="mb-3 float-end search-group">
            <select class="form-control section-drop small float-start" name="section">
                <option value="#">전체</option>
                <option>일반석</option>
                <option>몰리스 그린존</option>
                <option>응원지정석</option>
                <option>의자지정석</option>
                <option>랜더스 라이브존</option>
                <option>이마트 프렌들리존</option>
                <option>피코크 테이블석</option>
                <option>노브랜드 테이블석</option>
                <option>SKY탁자석</option>
                <option>홈런커플존</option>
                <option>바베큐존</option>
                <option>외야파티덱</option>
                <option>외야패밀리존</option>
                <option>내야패밀리존</option>
                <option>초가정자</option>
                <option>미니스카이박스</option>
                <option>스카이박스</option>
                <option>휠체어 장애인석</option>
            </select>
        </div>
        <div>
            <a class="float-start font-black cursor-default">전체 [[${result.totalElements}]] 개</a>
            <a class="writer float-end font-black cursor-pointer" th:href="@{landers/register}"><i class="fa-solid fa-pen-to-square font-black"></i>글쓰기</a>
        </div>

<!--        <form action="/landers" method="get" id="searchForm">-->
<!--            <input type="hidden" name="page" value="1">-->
<!--        </form>-->
        <table class="table mt-5 mb-5 font-notosans">
            <thead>
            <tr>
                <th>#</th>
                <th>1/3루</th>
                <th>구역</th>
                <th>좌석</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr class="readTable" th:each="dto : ${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/landers/read(sno = ${dto.sno}, page= ${result.page})}">[[${dto.sno}]]</a>
<!--                    <a>[[${dto.sno}]]</a>-->
                </th>
                <td>[[${dto.base}]]루</td>
                <td>[[${dto.section}]]</td>
                <td>[[${dto.row}]]열 [[${dto.num}]]번</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item " th:if="${result.prev}">
                    <a class="page-link" th:href="@{/landers(page = ${result.start- 1})}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="@{/landers(page=    ${page},
                                                             type=    ${pageRequestDTO.type},
                                                             keyword= ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/landers(page=   ${result.end +1},
                                                             type=   ${pageRequestDTO.type},
                                                             keyword=#{pageRequestDTO.keyword})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<script>
    $(document).ready(function() {

    });
</script>
</html>
