<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/common/header::header">
</th:block>
<th:block>
  <th:block>
    <body id="page-top">
    <div class="stadium-title mb-3 landers-title">
      <a th:href="@{/landers}"><img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/landers.png"></a>
      <div class="title-team m-auto">
        <a style="color: white; text-decoration-line: none" th:href="@{/landers}"><h1>SSG LANDERS</h1></a>
      </div>
    </div>
      <div class="container stadium-content p-3">
        <h2 class="landers-title-sub font-dohyeon mb-4">좌석 정보 등록하기</h2>
        <p class="small" style="color: darkred">※ 정확한 좌석을 모르는 경우에는 0열 0번으로 입력해주세요.</p>
        <form th:action="@{/landers/register}" th:method="post" name="fm" onsubmit="return validation_input(this)">
          <div class="form-group font-notosans">
            <select name="section" id="section" class="form-control section-drop small" required>
              <option value="">선택</option>
              <option value="일반석">일반석</option>
              <option value="몰리스 그린존">몰리스 그린존</option>
              <option value="응원지정석">응원지정석</option>
              <option value="의자지정석">의자지정석</option>
              <option value="랜더스 라이브존">랜더스 라이브존</option>
              <option value="이마트 프렌들리존">이마트 프렌들리존</option>
              <option value="피코크 테이블석">피코크 테이블석</option>
              <option value="노브랜드 테이블석">노브랜드 테이블석</option>
              <option value="SKY탁자석">SKY탁자석</option>
              <option value="홈런커플존">홈런커플존</option>
              <option value="바베큐존">바베큐존</option>
              <option value="외야파티덱">외야파티덱</option>
              <option value="외야패밀리존">외야패밀리존</option>
              <option value="내야패밀리존">내야패밀리존</option>
              <option value="초가정자">초가정자</option>
              <option value="미니스카이박스">미니스카이박스</option>
              <option value="스카이박스">스카이박스</option>
              <option value="휠체어 장애인석">휠체어 장애인석</option>
            </select>
            <a style="float: left; padding: 0.375rem 0rem; margin-right: 20px">구역</a>
            <select name="base" id="base" class="form-control base-drop small">
              <option value="">선택</option>
              <option value="1">1루</option>
              <option value="3">3루</option>
              <option value="2">중앙</option>
            </select>
            <input type="text" class="form-control mb-2 section-text" name="sRow" id="sRow" placeholder="A"
                   style="text-transform: uppercase" maxlength="1" oninput="validation_row(this)" required>
            <a style="float: left; padding: 0.375rem 0rem; margin-right: 10px">열</a>
            <input type="text" class="form-control mb-2 section-text" name="num" id="num" placeholder="0" required
                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="2">
            <a style="float: left; padding: 0.375rem 0rem;">번</a>
            <textarea class="form-control textarea-content" name="content" id="content" placeholder="내용을 입력해주세요."></textarea>
          </div>

          <div class="form-group fileForm"></br>
            <label class="small image-title">이미지 첨부하기</label>
            <div class="custom-file small">
              <input type="file" class="custom-file-input files" id="fileInput" accept="image/*" multiple>
              <label class="custom-file-label" data-browse="Browse"></label>
            </div>
          </div>
          <div class="box" id="imageBox">
          </div>
          <div class="uploadResult" id="uploadResult">
            <ul>
            </ul>
          </div>

          <div class="mt-4" style="text-align: center">
            <button type="submit" class="btn btn-dark register-btn">등록</button>
            <a th:href="@{/landers}"><button type="button" class="btn btn-outline-dark register-btn">취소</button></a>
          </div>
        </form>
      </div>
      <script>
        function validation_row(e) {
          e.value = e.value.replace(/[^A-Za-z]/ig, '')
        }

        function validation_input () {
          // 필수값 확인
          var sectionV  = document.getElementById("section").value;
          var baseV     = document.getElementById("base").value;
          var rowV      = document.getElementById("sRow").value;
          var numV      = document.getElementById("num").value;
          var contentV  = document.getElementById("content").value;
          var fileV     = document.getElementById("fileInput").value;

          if (sectionV == '') {
            alert("구역을 선택해주세요.");
            $('#section').focus();
            return false;
          }
          if (baseV == '') {
            alert("좌석의 위치를 선택해주세요.");
            $('#base').focus();
            return false;
          }
          if (rowV == '') {
            alert("좌석(열)을 입력해주세요.");
            $('#sRow').focus();
            return false;
          }
          if (numV == '') {
            alert("좌석(번)을 입력해주세요.");
            $('#num').focus();
            return false;
          }
          if (contentV == '') {
            alert("내용을 입력해주세요.");
            $('#content').focus();
            return false;
          }
          if (fileV == '' || fileV == null) {
            alert("이미지를 첨부해주세요.");
            $('#fileInput').focus();
            return false;
          }
        }

        $(document).ready(function (e) {
          var regex = new RegExp("!(.*?)\.(exe|sh|zip|alz|tiff)$");
          var maxSize = 10485760;  // 10MB

          function checkExtension(fileName, fileSize) {
            if (fileSize >= maxSize) {
              alert("파일 사이즈 초과");
              return false;
            }

            if (regex.test(fileName)) {
              alert("해당 종류의 파일은 업로드할 수 없습니다.");
              return false
            }
            return true;
          }

          $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-input").addClass("selected").html(fileName);

            var formData = new FormData();
            var inputFile = $(this);
            var files = inputFile[0].files;
            var appended = false;

            for (var i=0; i<files.length; i++){
              if (!checkExtension(files[i].name, files[i].size)) {
                return false;
              }
              formData.append("uploadFiles", files[i]);
              appended = true;
            }

            // upload를 하지 않는다.
            if (!appended) {
              return;
            }

            for (var value of formData.values()) {
              console.log(value)
            }

            // 실제 업로드 부분
            // upload ajax
            $.ajax({
              url: '/uploadAjax',
              processData: false,
              contentType: false,
              data: formData,
              type: 'POST',
              dataType: 'json',
              success: function (result) {
                showResult(result);
              },
              error: function (jqXHR, textStatus, errorThrown){
              }
            }); // $.ajax
          })    // end change event

          function showResult(uploadResultArr) {
            var uploadUL = $(".uploadResult ul");
            var str = "";

            $(uploadResultArr).each(function (i, obj) {
              str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
              str +=  "<div>";
              str += "<button type='button' data-file=\'" + obj.imageURL + "\'"
              str += "class='btn-warning btn-sm'>X</button><br>";
              str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
              str += "</div>";
              str +=  "</li>";
            });
            uploadUL.append(str);
          }

          $(".uploadResult ").on("click", "li button", function (e) {
            var targetFile = $(this).data("file");
            var targetLi = $(this).closest("li");

            alert("targetFile- " + targetFile + ", targetLi- " + JSON.stringify(targetLi));
            $.ajax({
              url: '/removeFile',
              data: {fileName: targetFile},
              dataType: 'text',
              type: 'POST',
              success: function (result) {
                targetLi.remove();
              }
            }); // $.ajax
          });

          $(".btn-dark").on("click", function (e) {
            if (!confirm("등록하시겠습니까?")) {
              return false;
            }

            e.preventDefault();
            var str = "";

            $(".uploadResult li").each(function (i, obj) {
              var target = $(obj);

              str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='" + target.data('name') + "'>";
              str += "<input type='hidden' name='imageDTOList["+i+"].path' value='" + target.data('path') + "'>";
              str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='" + target.data('uuid') + "'>";
            });

            $(".box").html(str);
            $("form").submit();
          })
        });
      </script>
    </body>
  </th:block>
</th:block>
</html>