<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="/common/header::header">
</th:block>
<th:block>
  <th:block>
    <body id="page-top">
    <div class="stadium-title mb-3 giants-title">
      <a th:href="@{/giants}"><img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/giants.png"></a>
      <div class="title-team m-auto">
        <h1 class="cursor-default"><a class="title-team-giants" th:href="@{giants}">롯데자이언츠</a></h1>
      </div>
    </div>
      <div class="container stadium-content p-3">
        <h2 class="giants-title-sub font-dohyeon mb-4">좌석 정보 조회</h2>
        <div class="form-group font-notosans">
          <select name="section" class="form-control section-drop-read small" style="background-color: white" disabled>
            <option th:value="${dto.section}">[[${dto.section}]]</option>
            </select>
            <a style="float: left; padding: 0.375rem 0rem; margin-right: 20px">구역</a>
          <select name="base" class="form-control base-drop-read small" style="margin-right: 10px; background-color: white" disabled>
            <option th:if="${dto.base} == '1'" th:value="${dto.base}">[[${dto.base}]]루</option>
            <option th:if="${dto.base} == '2'" th:value="${dto.base}">중앙</option>
            <option th:if="${dto.base} == '3'" th:value="${dto.base}">[[${dto.base}]]루</option>
          </select>
          <input type="text" class="form-control mb-2 section-text text-sm-center" name="row" placeholder="A" th:value="${dto.row}" style="background-color: white" disabled><a style="float: left; padding: 0.375rem 0rem; margin-right: 10px">열</a>
          <input type="text" class="form-control mb-2 section-text text-sm-center" name="num" placeholder="0" th:value="${dto.num}" style="background-color: white" disabled><a style="float: left; padding: 0.375rem 0rem;">번</a>
          <textarea class="form-control textarea-content" name="content" placeholder="내용을 입력해주세요." th:value="${dto.content}" style="background-color: white" readonly>[[${dto.content}]]</textarea>
        </div>

        <div class="readImg mt-3">
          <a>※ 하단의 이미지를 클릭하면 원본 크기로 확인할 수 있습니다.</a>
          <ul>
            <li th:each="stadiumImage : ${dto.imageDTOList}" th:data-file="${stadiumImage.getThumbnailURL()}">
              <img th:if="${stadiumImage.path != null}"
                   th:src="|/display?fileName=${stadiumImage.getThumbnailURL()}|">
            </li>
          </ul>
        </div>

        <div class="mt-4" style="text-align: center">
          <div sec:authorize="isAuthenticated()">
            <div th:if="${dto.username == #authentication.principal.username}">
              <a th:href="@{/giants/modify(sno = ${dto.sno}, page= ${requestDTO.page})}"><button type="button" class="btn btn-dark register-btn">수정</button></a>
              <form th:action="@{/giants/delete(sno = ${dto.sno})}" th:method="post" style="display: contents;">
                <input type="hidden" name="_method" th:value="delete">
                <button class="btn btn-outline-danger register-btn" id="btn-delete">삭제</button>
              </form>
              <a th:href="@{/giants}"><button type="button" class="btn btn-outline-dark register-btn">목록</button></a>
            </div>
          </div>
          <div th:unless="${dto.username == #authentication.principal.username}">
            <a th:href="@{/giants}"><button type="button" class="btn btn-outline-dark register-btn">목록</button></a>
          </div>
        </div>

        <!-- IMG modal -->
        <div class="imageModal modal" tabindex="-2" role="dialog" id="modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">사진보기</h5>
                <button type="button" class="btn btn-outline-secondary close" data-bs-dismiss="modal" aria-label="Close" onclick="close()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script>
      $(document).ready(function (e) {
        $(".readImg li").click(function () {
          var file = $(this).data('file');
          console.log(file);

          $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName=" + file + "&size=1'>")
          $(".imageModal").modal("show");
        })
      });

      $("#btn-delete").on("click", function (e) {
        if (!confirm("삭제하시겠습니까?")) {
          return false;
        }
      });
    </script>
  </th:block>
</th:block>
</html>