@charset "UTF-8";

body {
    min-width: 1125px;
}

.cursor-default, .cursor-default:hover {
    cursor: default;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
    text-decoration: none;
}

.writer {
    position: inherit;
    float: right;
    right: 15px;
    top: 15px;
}

.menu-title {
    background-color: #050a24f2;
}
.list-text {
    color: #000;
    text-decoration: none;
}
.list-text:hover {
    text-decoration: underline;
}

/* FONT */
.font-white {
    color: white;
}

.font-black {
    color: black;
}

.font-dohyeon {
    font-family: 'Do Hyeon', sans-serif;
}
.font-notosans {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-white-shadow {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.font-black-shadow {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* TEXT */
.non-effect-white {
    color: white;
    text-decoration-line: none;
}
.non-effect-white:hover {
    color: #00115c;
    /*text-shadow: -1px 0 #cbcb00, 0 1px #cbcb00, 1px 0 #cbcb00, 0 -1px #cbcb00;*/
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.non-effect-black {
    color: black;
    text-decoration-line: none;
}
.non-effect-black:hover {
    color: black;
    /*text-shadow: -1px 0 #cbcb00, 0 1px #cbcb00, 1px 0 #cbcb00, 0 -1px #cbcb00;*/
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.non-effect-navy {
    color: #050a24f2;
    text-decoration-line: none;
}
.non-effect-navy:hover {
    color:white;
    /*text-shadow: -1px 0 #cbcb00, 0 1px #cbcb00, 1px 0 #cbcb00, 0 -1px #cbcb00;*/
    text-shadow: -1px 0 #050a24f2, 0 1px #050a24f2, 1px 0 #050a24f2, 0 -1px #050a24f2;
}

/* 공통 모듈 */
.search-group {
    width: 100%;
}
.search-btn {
    height: 30px;
    padding: 0px 15px;
    margin-left: 5px;
}

.register-div {

}
.register-btn {
    height: 30px;
    padding: 0px 15px;
    margin-left: 5px;
    display: inline-block;
    font-size: small;
}

.textarea-content {
    width: 100%;
    height: 200px;
    resize: none;
}

.section-drop {
    max-width: 200px;
    min-width: 170px;
    width: 170px;
    height: 38px;
    float: left;
    appearance: auto;
    margin-right: 3px;
}
.section-drop-read {
    min-width: 170px;
    width: 170px;
    height: 38px;
    float: left;
    appearance: none;
    margin-right: 3px;
    text-align: center;
}
.section-text {
    width: 45px;
    float: left;
    margin-right: 3px;
}
.base-drop {
    max-width: 100px;
    min-width: 70px;
    width: 80px;
    height: 38px;
    float: left;
    appearance: auto;
    margin-right: 3px;
}
.base-drop-read {
    min-width: 70px;
    width: 30px;
    height: 38px;
    float: left;
    appearance: none;
    margin-right: 3px;
    text-align: center;
}

.image-title {
    font-weight: bold;
}

/* TEAM CHOOSE Stadium */
.team-section {
    padding-top: 2.5rem;
    padding-bottom: 0;
    /*padding-bottom: 7.5rem;*/
}
.team-select {
    border: 1px solid #050a24f2;
    border-radius: 10px;
}
.team-title {
    background-color: #050a24f2;
}

/* 구단 엠블럼 */
.logo {
    max-height: 112px;
    max-width: 112px;
}

.title-emblem {
    position: fixed;
    max-height: 70px;
    max-width: 70px;
    top: 20px;
    left: 30px;
    margin: auto;
}
.title-team {
    position: fixed;
    /*max-height: 50px;*/
    /*max-width: 350px;*/
    font-family: 'Do Hyeon', sans-serif;
    top: 28px;
    left: 110px;
    margin: auto;
    font-size: 3rem;
    text-overflow: clip;
}
.title-team-white {
    color: white;
    text-decoration-line: none;
}
.title-team-white:hover {
    color: #ffffff;
}
.title-team-black {
    color: black;
    text-decoration-line: none;
}
.title-team-black:hover {
    color: black;
}
.title-team-kia {
    color: #EA0029;
    text-decoration-line: none;
}
.title-team-kia:hover {
    color: #EA0029;
}
.title-team-twins {
    color: #C30452;
    text-decoration-line: none;
}
.title-team-twins:hover {
    color: #C30452;
}
.title-team-giants {
    color: #DC0232;
    text-decoration-line: none;
}
.title-team-giants:hover {
    color: #DC0232;
}
.title-team-lions {
    color: #C0C0C0;
    text-decoration-line: none;
}
.title-team-lions:hover {
    color: #C0C0C0;
}

.stadium-title {
    min-width: 400px !important;
    min-height: 70px;
    overflow: auto;
    height: 10%;
    margin: auto;
}

.stadium-content {
    min-width: 400px !important;
    /*overflow: auto;*/
    width: 70%;
    height: 85%;
    border-radius: 5px ;
    /*border: 1px solid black;*/

    margin: auto;
}

div > .div-div {
    float: left;
}

/* TEAM TITLE */
.landers-title {
    background-color: #CE0E2D;
    color: white;
}
.landers-title-sub {
    color: #CE0E2D;
    display: inline-block;
}
.heroes-title {
    background-color: #820024;
    color: white;
}
.heroes-title-sub {
    color: #820024;
    display: inline-block;
}
.twins-title {
    background-color: #000000;
    color: #C30452;
}
.twins-title-sub {
    color: #C30452;
    display: inline-block;
}
.wiz-title {
    background-color: #000000;
    color: white;
}
.wiz-title-sub {
    color: #000000;
    display: inline-block;
}
.tigers-title {
    background-color: black;

    color: #EA0029;
}
.tigers-title-sub {
    color: #EA0029 ;
    display: inline-block;
}
.bears-title {
    background-color: #131230;
    color: #131230;
}
.bears-title-sub {
    color: #131230 ;
    display: inline-block;
}
.giants-title {
    background-color: #002955;
    color: #131230;
}
.giants-title-sub {
    color: #002955 ;
    display: inline-block;
}
.dinos-title {
    background-color: #315288;
    color: #131230;
}
.dinos-title-sub {
    color: #315288 ;
    display: inline-block;
}
.lions-title {
    background-color: #074CA1;
    color: #131230;
}
.lions-title-sub {
    color: #074CA1 ;
    display: inline-block;
}
.eagles-title {
    background-color: #FF6600;
}
.eagles-title-sub {
    color: #FF6600 ;
    display: inline-block;
}

/* Upload */
.uploadResult {
    width: 100%;
    margin-top: 10px;
}
.uploadResult ul {
    display: flex;
    flex-float: row;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    overflow: auto;
}
.uploadResult ul li {
    list-style: none;
    padding: 10px;
    margin-left: 2em;
}
.uploadResult ul li img {
    width: 100px;
    height: 100px;
}
.uploadResult ul li button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    /*display: none;*/
}

.readImg {
    width: 100%;
    margin-top: 10px;
}
.readImg ul {
    display: flex;
    flex-float: row;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    overflow: auto;
    padding-left: 0px;
    /*background-color: #ffffff;*/
}
.readImg ul li {
    list-style: none;
    padding: 10px;
    /*margin-left: 2em;*/
}
.readImg ul li img {
    width: 100%;
}


