<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/header::header">
</th:block>
<body id="page-top">
    <div class="stadium-title mb-3 heroes-title">
        <img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/kiwoom.png">
        <div class="title-team m-auto">
            <h1 class="cursor-default">키움 히어로즈</h1>
        </div>
    </div>
    <div class="container stadium-content p-3">
        <h2 class="heroes-title-sub font-dohyeon">고척 스카이돔 좌석 안내</h2>
        <div class="mb-3 float-end search-group">
            <button class="btn btn-outline-dark search-btn float-end" type="button" id="button-addon2">검색</button>
            <input type="text" class="float-end" placeholder="검색어를 입력해주세요.">
        </div>
        <div>
            <a class="float-start font-black cursor-default">전체 23,431개</a>
            <a class="writer float-end font-black cursor-pointer" th:href="@{heroes/register}"><i class="fa-solid fa-pen-to-square font-black"></i>글쓰기</a>
        </div>
        <table class="table mt-5 mb-5">
            <thead>
            <tr>
                <th>#</th>
                <th>1/3루</th>
                <th>구역</th>
                <th>좌석</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>1루</td>
                <td>노브랜드 테이블</td>
                <td>C열 12, 13</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">이전</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
