<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/header::header">
</th:block>
<body id="page-top">
    <div class="stadium-title mb-3 landers-title">
        <img class="img-fluid title-emblem m-auto" src="../assets/img/emblem/landers.png">
        <div class="title-team m-auto">
            <h1 class="cursor-default">SSG LANDERS</h1>
        </div>
    </div>
    <div class="container stadium-content p-3">
        <h2 class="landers-title-sub font-dohyeon">SSG랜더스필드 좌석 안내</h2>
        <div class="mb-3 float-end search-group">
            <button class="btn btn-outline-dark search-btn float-end" type="button" id="button-addon2">검색</button>
            <input type="text" class="float-end" placeholder="검색어를 입력해주세요.">
        </div>
        <div>
            <a class="float-start font-black cursor-default">전체 [[${result.totalElements}]] 개</a>
            <a class="writer float-end font-black cursor-pointer" th:href="@{landers/register}"><i class="fa-solid fa-pen-to-square font-black"></i>글쓰기</a>
        </div>

<!--        <form action="/landers" method="get" id="searchForm">-->
<!--            <input type="hidden" name="page" value="1">-->
<!--        </form>-->
        <table class="table mt-5 mb-5 font-notosans">
            <thead>
            <tr>
                <th>#</th>
                <th>1/3루</th>
                <th>구역</th>
                <th>좌석</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" >
                <th scope="row">[[${dto.sno}]]</th>
                <td>[[${dto.base}]]루</td>
                <td>[[${dto.section}]]</td>
                <td>[[${dto.row}]]열 [[${dto.num}]]번</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item " th:if="${result.prev}">
                    <a class="page-link" th:href="@{/landers(page = ${result.start- 1})}" tabindex="-1">이전</a>
                </li>

                <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="@{/landers(page=    ${page},
                                                             type=    ${pageRequestDTO.type},
                                                             keyword= ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/landers(page=   ${result.end +1},
                                                             type=   ${pageRequestDTO.type},
                                                             keyword=#{pageRequestDTO.keyword})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
